
.imagem_inicio {
    width: 70rem;
    padding-top: 2rem;
    border-radius: 8px;
}

.centraliza {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_rifas {
    margin-top: 2rem;
    background-color: #195c2f;
    width: 70rem;
    border-radius: 1rem;
}

.container_rifas_dark {
    margin-top: 2rem;
    background-color: #1a1b1d;
    width: 70rem;
    border-radius: 1rem;
}

.titulo_secao {
    display: flex;
    margin-left: 0.5rem;
}

.sorte {
    width: 3rem;
    margin-right: 0.5rem;
}

.texto_titulo_rifas {
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 20px;
    color: #CBCBCB;
}

.dark {
    background-color: #282828;
    height: 100vh;
}

.texto_rifas {
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    color: #CBCBCB;
}

.card {
    background-color: #268c48;
    width: 40%;
    border: none;
    margin-bottom: 1rem;
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card_dark {
    background-color: #424242;
    width: 40%;
    border: none;
    margin-bottom: 1rem;
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card_dark:hover{
    cursor: pointer;
}

.card:hover{
    cursor: pointer;
}

.imagem_rifa {
    width: 12rem;
    margin-right: 2rem;
}

.descricao {
    font-family: 'Abhaya Libre';
    font-weight: 600;
    font-size: 16px;
    color: #CBCBCB;
    text-align: left;
}

.preco {
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    color: #CBCBCB;
    text-align: left;
}

.disponivel {
    background-color: #195c2f;
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    color: #CBCBCB;
    border: none;
    border-radius: 16px;
}



@media screen and (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .logo {
        
        width: 3rem;
    }

    .botao_busca {
        
        font-size: 14px;
        height: 1.5rem;
    }

    .imagem_inicio {
        
        width: 100%;
        padding-top: 1rem;
    }

    .centraliza {
       
        justify-content: flex-start;
    }

    .container_rifas {
        width: 80%;
        margin: 0 auto;
    }

    .container_rifas_dark {
        width: 80%;
        margin: 0 auto;
    }

    .card {
        margin-top: 1rem;
        width: 100%;
        border-radius: 8px;
    }

    .imagem_rifa {
        width: 80%;
        margin: 0 auto;
        margin-top: 0.5rem;
    }

    .card {
        background-color: #268c48;
        width: 90%;
        border: none;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .card_dark {
        background-color: #424242;
        width: 90%;
        border: none;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .container_rifas_info {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .texto_titulo_rifas {
        font-family: 'Abhaya Libre';
        font-weight: 400;
        font-size: 18px;
        color: #CBCBCB;
    }

    .sorte {
        width: 2rem;
        margin-right: 0.5rem;
    }

    .disponivel {
       background-color: #195c2f;
        font-family: 'Abhaya Libre';
        font-weight: 400;
        font-size: 14px;
        color: #CBCBCB;
        border: none;
        border-radius: 16px;
        margin-bottom:0.5rem;
    }
    
}

