.dark {
  background-color: #282828;
  height: 100%;
}

.cabecalho {
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  align-items: center;
  width: 100%;
}

.logo {
  width: 4rem;
}

.botao_busca {
  display: flex;
  align-items: center;
  background-color: #31B55C;
  border-radius: 14px;
  border: none;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 16px;
  line-height: 21.23px;
  color: #CBCBCB;
  height: 2rem;
}

.botao_busca:hover {
  background-color: #268c48;
  cursor: pointer;
}

.titulo_modal {
  font-family: 'Abhaya Libre ExtraBold';
  font-weight: 800;
  color: #114823;
  font-size: 24px;
}

.secao_quantidade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
  border-radius: 8px;
  background-color: #31B55C;
  margin-bottom: 2rem;
  border-right: 2px solid #00e06e;
  border-left: 2px solid #00e06e
}

.secao_quantidade_dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
  border-radius: 8px;
  background-color: #1a1b1d;
  margin-bottom: 2rem;
  border-bottom: 2px solid #00e06e;
  border-top: 2px solid #00e06e
}

.quantidade_escolha {
  display: flex;
  justify-content: center;
}

.container_compra {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.imagem_rifa {
  width: 32rem;
  margin-right: 1rem;
  height: 20rem;
  border-radius: 8px;
}

.descricao_rifa {
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 24px;
  color: #114823;
}

.botao_preco {
  width: 40rem;
  background-color: #31B55C;
  border-radius: 8px;
  border: none;
  height: 6rem;
  border-bottom: 7px solid #1a1b1d;
}

.botao_preco_dark {
  width: 40rem;
  background-color: #1a1b1d;
  border-radius: 8px;
  border: none;
  height: 6rem;
  border-bottom: 4px solid #00e06e;
}


.nome_botao_preco {
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 15px;
  color: #CBCBCB;
}

.preco_botao_preco {
  font-family: 'Abhaya Libre';
  font-weight: 600;
  font-size: 24px;
  color: #CBCBCB;
}

.automaticos {
  display: flex;
  align-items: center;
  width: 40rem;
  font-family: 'Abhaya Libre';
  font-weight: 600;
  font-size: 20px;
  height: 3rem;
  color: #CBCBCB;
  background-color: #31B55C;
  margin-top: 1rem;
  border-radius: 8px;
  border: solid 1px;
  border-color: yellow;
}

.automaticos_dark {
  display: flex;
  align-items: center;
  width: 40rem;
  font-family: 'Abhaya Libre';
  font-weight: 600;
  font-size: 20px;
  height: 3rem;
  color: #CBCBCB;
  background-color: #1a1b1d;
  margin-top: 1rem;
  border-radius: 8px;
  border: solid 1px;
  border-color: yellow;
}

.container {
  width: 70%;
}

.dois_incrementos {
  display: flex;
  justify-content: center;

}

.incremento_unico {
  background-color: #278a48;
  width: 20rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.incremento_unico_dark {
  background-color: #282828;
  width: 20rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.selecionar {
  width: 5rem;
}

.valor_incremento_mais_de_um {
  font-family: 'Abhaya Libre ExtraBold';
  font-weight: 800;
  font-size: 16px;
  color: #CBCBCB;
  text-align: center;
}

.valor_incremento {
  font-family: 'Abhaya Libre ExtraBold';
  font-weight: 800;
  font-size: 16px;
  color: #CBCBCB;
  text-align: center;
}

.botao_incremento {
  background-color: #3ba95f;
  border: none;
  padding: 1rem;
  color: #CBCBCB;
  width: 100%;
}

.botao_incremento_dark {
  background-color: #424242;
  border: none;
  padding: 1rem;
  color: #CBCBCB;
  width: 100%;
}

.botao_incremento_dark:hover {
  cursor: pointer;
  background-color: #272626;
}

.botao_incremento:hover {
  cursor: pointer;
  background-color: #114823;
}

.centraliza {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.incremento_um_em_um {
  display: flex;
  justify-content: space-around;
  background-color: #114823;
  width: 30rem;
  border-radius: 24px;
  height: 3rem;
}

.incremento_um_em_um_dark {
  display: flex;
  justify-content: space-around;
  background-color: #575757;
  width: 30rem;
  border-radius: 24px;
  height: 3rem;
}


.botao_operacao {
  border: none;
  background-color: #114823;
  font-size: 28px;
  color: #CBCBCB;
}

.botao_operacao_dark {
  border: none;
  background-color: #575757;
  font-size: 28px;
  color: #0ecb6a;
}

.botao_operacao:hover {
  cursor: pointer;
}

.total_compra {
  background-color: #278a48;
  width: 20rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  height: 4rem;
  font-family: 'Abhaya Libre ExtraBold';
  font-weight: 400;
  font-size: 16px;
  color: white;
  border-left: 7px solid #00e06e;
  border-right: 7px solid #00e06e;
}

.total_compra_dark {
  background-color: #424242;
  width: 20rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  height: 4rem;
  font-family: 'Abhaya Libre ExtraBold';
  font-weight: 400;
  font-size: 16px;
  color: white;
  border-left: 7px solid #00e06e;
  border-right: 7px solid #00e06e;
}

.valor_total {
  font-weight: 800;
  font-size: 20px;
}

.botao_finalizar {
  width: 100%;
  background-image: linear-gradient(to right, #31B55C 0%, #114823 50%);
  font-family: 'Abhaya Libre ExtraBold';
  font-weight: 400;
  font-size: 20px;
  color: white;
  height: 3rem;
  border-radius: 8px;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.botao_finalizar:hover {
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  max-width: 400px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.modalHeader h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.modalCloseButton {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #aaa;
}

.modalLine {
  width: 100%;
  height: 2px;
  background-color: #268c48;
  margin: 1rem 0;
}

.modalBody {
  padding: 1rem 0;
}

.modalBody p {
  margin-bottom: 1rem;
}

.modalInput {
  width: 95%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalButton {
  background-color: #268c48;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
}

.modalButton:hover {
  background-color: #195c2f;
}


/* Estilo para telas menores */
@media (max-width: 768px) {
  .imagem_rifa {
    width: 85%;
    height: auto;
    margin: 0;
  }

  .titulo_modal {
    font-size: 16px;
  }

  .container_compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .secao_quantidade {
    width: auto;
    max-width: 600px;
    margin-bottom: 1rem;
  }

  .secao_quantidade_dark {
    width: auto;
    max-width: 600px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    border-radius: 8px;
    background-color: #1a1b1d;
    border-bottom: 2px solid #00e06e;
    border-top: 2px solid #00e06e
  }

  .selecionar {
    width: 5rem;
  }

  .centraliza_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .automaticos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Abhaya Libre';
    font-weight: 600;
    font-size: 16px;
    width: 95%;
    color: #CBCBCB;
    background-color: #31B55C;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    border: solid 1px;
    border-color: yellow;
  }

  .automaticos_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Abhaya Libre';
    font-weight: 600;
    font-size: 16px;
    width: 95%;
    color: #CBCBCB;
    background-color: #1a1b1d;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    border: solid 1px;
    border-color: yellow;
  }

  .botao_preco {
    width: 90%;
    max-width: 400px;
    background-color: #31B55C;
    border-radius: 8px;
    border: none;
  }

  .botao_preco_dark {
    width: 90%;
    max-width: 400px;
    background-color: #1a1b1d;
    border-radius: 8px;
    border: none;
    height: 6rem;
    border-bottom: 4px solid #00e06e;
  }

  .nome_botao_preco {
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    color: #CBCBCB;
  }

  .preco_botao_preco {
    font-family: 'Abhaya Libre';
    font-weight: 600;
    font-size: 20px;
    color: #CBCBCB;
  }

  .incremento_unico {
    background-color: #278a48;
    width: 100%;
    height: auto;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
  }

  .incremento_unico_dark {
    background-color: #282828;
    width: 100%;
    height: auto;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
  }

  .valor_incremento {
    font-family: 'Abhaya Libre ExtraBold';
    font-weight: 800;
    font-size: 16px;
    color: #CBCBCB;
    padding: 0.5rem;
    text-align: center;
  }

  .valor_incremento_mais_de_um {
    font-family: 'Abhaya Libre ExtraBold';
    font-weight: 800;
    font-size: 16px;
    color: #CBCBCB;
    text-align: center;
  }

  .total_compra {
    background-color: #278a48;
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
    border-radius: 8px;
    height: auto;
    font-family: 'Abhaya Libre ExtraBold';
    font-weight: 400;
    font-size: 14px;
    color: white;
    padding: 0.5rem;
  }

  .total_compra_dark {
    background-color: #424242;
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
    border-radius: 8px;
    height: auto;
    font-family: 'Abhaya Libre ExtraBold';
    font-weight: 400;
    font-size: 14px;
    color: white;
    padding: 0.5rem;
    border-left: 7px solid #00e06e;
    border-right: 7px solid #00e06e;
  }
  

  .valor_total {
    font-weight: 800;
    font-size: 16px;
  }

  .botao_finalizar {
    width: 15rem;
    max-width: 400px;
    background-image: linear-gradient(to right, #31B55C 0%, #114823 50%);
    font-family: 'Abhaya Libre ExtraBold';
    font-weight: 400;
    font-size: 16px;
    color: white;
    height: auto;
    border-radius: 8px;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
  }

  .botao_operacao {
    border: none;
    background-color: #114823;
    font-size: 16px;
    color: #CBCBCB;
    font-weight: 600;
  }

  .botao_operacao_dark {
    border: none;
    background-color: #575757;
    font-size: 16px;
    font-weight: 600;
    color: #0ecb6a;
  }

  .incremento_um_em_um {
    display: flex;
    justify-content: space-around;
    background-color: #114823;
    width: 100%;
    border-radius: 16px;
    height: 4rem;
  }

  .incremento_um_em_um_dark {
    display: flex;
    justify-content: space-around;
    background-color: #575757;
    width: 100%;
    border-radius: 16px;
    height: 4rem;
  }

  .descricao_rifa {
    font-family: 'Abhaya Libre';
    font-weight: 400;
    font-size: 16px;
    color: #114823;
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .modalContent {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    max-width: 400px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
  }

  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
  }

  .modalHeader h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .modalCloseButton {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #aaa;
  }

  .modalLine {
    width: 100%;
    height: 2px;
    background-color: #268c48;
    margin: 1rem 0;
  }

  .modalBody {
    padding: 1rem 0;
  }

  .modalBody p {
    margin-bottom: 1rem;
  }

  .modalInput {
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .modalButton {
    background-color: #268c48;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
  }

  .modalButton:hover {
    background-color: #195c2f;
  }

  .centraliza_mobile {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}