.cor {
    background-color: #CBCBCB;
    width: 100vw;
    height: 100vh;
}

.container_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_criar {
    margin-left: 1rem;
    font-size: 16px;
    border: none;
    height: 2rem;
    background-color: green;
    color: white;
}

.botao_criar:hover {
    cursor: pointer;
    background-color: rgb(1, 105, 1);
}

.centraliza {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container {
    width: 100%;
    max-width: 1400px;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}

.titulo_pedidos {
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container_infos_pedidos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.pendente, .confirmado {
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-weight: bold;
}

.pendente {
    background-color: #ff9800;
    color: white;
}

.confirmado {
    background-color: #4bae4f;
    color: white;
}

.botao_marcar {
    height: 2rem;
    margin-bottom: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
}

/* Estilos para a busca de números */
.busca_numero {
    margin-left: 0.5rem;
}

/* Estilos para os containers de informações */
.container_numeros_pagos {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 8px;
    margin-right: 1rem;
}

.container_numeros_reservados {
    background-color: #ff9800;
    color: white;
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 8px;
    margin-right: 1rem;
}

.container_numeros_disponiveis {
    background-color: #ed4343;
    color: white;
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 8px;
    margin-right: 1rem;
}

.botao_marcar {
    height: 2rem;
    margin-bottom: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
}


.total_pago {
    background-color: #4caf50;
    color: white;
    width: 25rem;
    margin-right: 1rem;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.total_rifas {
    background-color: #ed4343;
    color: white;
    width: 25rem;
    margin-right: 1rem;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.total_receber {
    background-color: #ff9800;
    color: white;
    width: 25rem;
    margin-right: 1rem;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.valor_card {
    font-size: 32px;
    font-weight: 600;
}

.texto_card {
    font-size: 24px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}